# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List Data Science tools.
- Show the usage of ordereds and unordered lists.
- Evaluate arithmetic expressions using Python.

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Seaborn
2. Scikit-learn
3. TensorFlow

| Data Science Tools      | 
| ----------- |
| Apache Spark      |
| Spyder   |
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bryan Villarreal